{% extends 'lastar_app/base.html' %}
{% load static %}

{% block title %} {{title}} {% endblock %}
{% block connect %}
<link rel="stylesheet" href="{% static 'css/list_categ.css' %}">
<script src="{% static 'js/script_list_cat.js' %}" defer></script>
{% endblock %}


{% block content %}
<div class="about">
    <h1 class="algo_title">Алгоритмы</h1>
    <ul class="tree">
        <li>Хэширование (Hashing)</li>
        <li>Математическая справка</li>
        <li class="discover">
            <summary class="trigger">Сортировки (Sorts)</summary>
            <ul>
                <li>Пузырьковая сортировка (Bubble Sort)</li>
                <li>Шейкерная сортировка</li>
                <li>Сортировка выбором</li>
                <li>Сортировка расчесткой</li>
                <li>Сортировка вставками</li>
                <li>Сортировка Шелла</li>
                <li>Блочная сортировка</li>
                <li>Быстрая сортировка</li>
                <li>Сортировка слиянием</li>
                <li>Пирамидальная сортировка (ПР) или сортировка кучей</li>
                <li>ПР с восходящей просейкой</li>
                <li>Сортировка Тима Петерса</li>
                <li>Поразрядная сортировка</li>
            </ul>
        </li>
        <li>k-ая статистика</li>
        <li>Динамическое программирование (DP)</li>
        <li>Жадные алгоритмы</li>
        <li>Рекурсия</li>
        <li>Поиск с возвратом</li>
        <li>Стратегия "Разделяй и влавствуй"</li>
        <li>Алгоритмы для работы с графами</li>
        <li class="discover1">
            <summary class="trigger1">Поиск пути</summary>
            <ul>
                <li>Алгоритм Беллмана-Форда</li>
                <li>Алгоритм Флойда-Уоршелла</li>
                <li>Поиск в ширину</li>
                <li>Поиск в глубину</li>
                <li>Алгоритм Дейкстры</li>
                <li>А* или Астар</li>
                <li>А* с итеративным погружением</li>
            </ul>
        </li>
        <li>Операции на отрезке</li>
        <li>Бинарные операции</li>
        <li>Конечные автоматы</li>
        <li>Кэширование и мемоизация</li>
        <li class="discover2">
            <summary class="trigger2">Математические алгоритмы</summary>
            <ul>
                <li>Алгоритмы для работы с матрицами</li>
                <li>Алгоритмы для работы с многочленами</li>
                <li>Алгоритмы факторизации числа</li>
                <li>Алгоритм нахождения простых чисел</li>
                <li>Алгоритм поиска k-го числа</li>
                <li>Генерация случайных чисел</li>
                <li>Генерация перестановок и сочетаний</li>
            </ul>
        </li>
        <li class="last">Другие полезные алгоритмы</li>
    </ul>
</div>



{% endblock %}