.content {
    height: auto;
}

.algo_title {
    margin-left: 100px;
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 4px;
}

.tree {
    margin-left: 150px;
    margin-bottom: 55px;
    --spacing: 1.5rem;
    --radius: 10px;
    line-height: 35px;
    font-size: 20px;
}

.tree li {
    display      : block;
    position     : relative;
    padding-left : calc(2 * var(--spacing) - var(--radius) - 2px);
    max-width: 500px;
  }
  
.tree ul {
    margin-left  : calc(var(--radius) - var(--spacing));
    padding-left : 0;
}

.tree li {
    border-left : 3px solid #ff9900e9;
}

.tree li:last-child{
    border-color : transparent;
}

.last::before{
    content      : '';
    display      : block;
    position     : absolute;
    top          : calc(var(--spacing) / -2.5);
    left         : -1px;
    width        : calc(var(--spacing) + 2px);
    height       : calc(var(--spacing) + 1px);
    border       : solid #ff9900e9;
    border-width : 0 0 3px 2px;
  }

.tree ul li::before {
    content      : '';
    display      : block;
    position     : absolute;
    top          : calc(var(--spacing) / -2.5);
    left         : -2px;
    width        : calc(var(--spacing) + 2px);
    height       : calc(var(--spacing) + 1px);
    border       : solid #ff9900e9;
    border-width : 0 0 3px 2px;
}

.tree summary {
    display : block;
    cursor  : pointer;
}

.tree summary::marker,
.tree summary::-webkit-details-marker {
    display : none;
}

.tree summary:focus {
    outline : none;
}

.tree summary:focus-visible {
    outline : 1px dotted #000;
}

.tree li::after,
.tree summary::before{
    content       : '';
    display       : block;
    position      : absolute;
    top           : calc(var(--spacing) / 2 - var(--radius) + 4px);
    left          : calc(var(--spacing) - var(--radius) - 1px);
    width         : calc(2 * var(--radius));
    height        : calc(2 * var(--radius));
    border-radius : 50%;
    background    : #f88f8f;
}

.tree summary::before{
    content     : '+';
    z-index     : 1;
    background  : #696;
    color       : #fff;
    line-height : calc(2 * var(--radius) - 2px);
    text-align  : center;
}

ul:not(.tree) {
    overflow: hidden;
    max-height: 0;
    transition: 0.5s ease-out;
  }

.tree-in>ul {
  max-height:100vh;
  transition: 0.5s ease-in;
}

.tree-in > summary::before {
    content : '−';
}

.content {
    margin-bottom: 100px;
}

.tree li {
    max-width: 550px;
}

.tree li::before {
        content      : '';
        display      : block;
        position     : absolute;
        top          : calc(var(--spacing) / -2.5);
        left         : -1px;
        width        : calc(var(--spacing) + 2px);
        height       : calc(var(--spacing) + 1px);
        border       : solid #ff9900e9;
        border-width : 0 0 3px 2px;
}

.tree ul li ul li::before {
    content      : '';
    display      : block;
    position     : absolute;
    top          : calc(var(--spacing) / -2.5);
    left         : -1px;
    width        : calc(var(--spacing) + 2px);
    height       : calc(var(--spacing) + 1px);
    border       : solid #ff9900e9;
    border-width : 0 0 3px 2px;
}


